<!--Begin::Section-->
<div class="m-portlet">
	<div class="m-portlet__body m-portlet__body--no-padding">
		<div class="row m-row--no-padding m-row--col-separator-xl">
			<div class="col-xl-3">
				<jun-progress-card title="OVERDUE QOUTES" progressType="danger" count="16" percentage="78"></jun-progress-card>
			</div>
			<div class="col-xl-3">
				<jun-progress-card title="DUE QOUTES" progressType="warning" count="16" percentage="78"></jun-progress-card>
			</div>
			<div class="col-xl-3">
				<jun-progress-card title="PROCESSED QUOTES" progressType="success" count="20" percentage="78"></jun-progress-card>
			</div>
			<div class="col-xl-3">
				<jun-progress-card title="Others" progressType="info" count="16" percentage="78"></jun-progress-card>z
			</div>
		</div>
	</div>
</div>
<!--End::Section-->

<!--Begin::Section-->

<div class="row">
	<div class="col-xl-6">
		<div  class="m-portlet">
			<div class="m-portlet__body m-portlet__body--no-padding">
				<jun-m-doughnut-chart></jun-m-doughnut-chart>
			</div>
		</div>
	</div>
	<div class="col-xl-6">
		<div  class="m-portlet">
			<div class="m-portlet__body m-portlet__body--no-padding">
				<jun-m-doughnut-chart></jun-m-doughnut-chart>
			</div>
		</div>
	</div>
</div>
<!--End::Section-->

<!--Begin::Section-->
<div class="m-portlet">
		<div class="m-portlet__body m-portlet__body--no-padding">
			<div class="row m-row--no-padding m-row--col-separator-xl">
			<div class="col-xl-3">
				<jun-progress-card title="PPC" progressType="success" count="16" percentage="78"></jun-progress-card>
			</div>
			<div class="col-xl-3">
				<jun-progress-card title="Organic" progressType="success" count="20" percentage="78"></jun-progress-card>
			</div>
			<div class="col-xl-3">
				<jun-progress-card title="Direct" progressType="success" count="16" percentage="78"></jun-progress-card>
			</div>
			<div class="col-xl-3">
				<jun-progress-card  title="Others" progressType="success" count="16" percentage="78"></jun-progress-card>
			</div>		
		</div>
	</div>
</div>
<!--End::Section-->

