.doughnut-text{
    position: relative;
    top: 56%;
    display: block;
    text-align: center;
    color: #bbbbbb;
}

.btn {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
}